.Bot {
  position: absolute;
  top: 40vh;
  left: 15%;
  width: 70%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  .close {
    width: 70px;
    position: absolute;
    top: 100px;
    right: 100px;
    cursor: pointer;
  }
  > div:last-child {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    .prompts {
      display: flex;
      width: 100%;
      justify-content: space-between;
      div {
        background-color: rgba(30, 30, 30, 0.486);
        color: #fff;
        padding: 15px;
        border-radius: 10px;
        cursor: pointer;
      }
    }
  }
  h1 {
    color: #fff;
    font-size: 48px;
  }
  input {
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    height: 60px;
    width: 100%;
    font-size: 26px;
  }
}
.extended {
  width: 100%;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  left: 0px;
  top: 80px;
  z-index: 5;
  >div:last-child{
    justify-content: flex-end;
  }
}
