.Register{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    button{
        width: 100%;
        margin: 10px 0;
    }
    .LoginLink{
        margin: 10px;
        color: #023D84;
        cursor: pointer;
    }
}