.Chat{
    max-height: 70vh;
    overflow: auto; scrollbar-width: thin;
    scrollbar-color: #999999 #f5f5f5;
    border-radius: 20px;
  }
  
  .Chat::-webkit-scrollbar {
    width: 8px;
  }
  
  .Chat::-webkit-scrollbar-track {
    background-color: #0000006f;
  }
  
  .Chat::-webkit-scrollbar-thumb {
    background-color: #ffffff;
  }